In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../Data/ml100/movieLens_ratings.csv', sep=',', header=0)
data = data.drop(columns='timestamp')

In [3]:
data = data[data['rating'] >= 3]

In [4]:
data['item_id'] = data['item_id'].apply(str)
data = data.groupby('user_id')['item_id'].apply(list).reset_index(name='item_id')

In [5]:
data

      user_id                                            item_id
0           1  [1193, 661, 914, 3408, 2355, 1197, 1287, 2804,...
1           2  [1357, 3068, 1537, 647, 2194, 648, 2268, 2628,...
2           3  [3421, 648, 1394, 3534, 104, 2735, 1210, 1431,...
3           4  [3468, 1210, 2951, 1214, 1036, 260, 2028, 480,...
4           5  [2987, 2333, 1175, 39, 2337, 1535, 1392, 1466,...
...       ...                                                ...
6034     6036  [571, 574, 2054, 589, 6, 3006, 3008, 1405, 140...
6035     6037  [589, 3006, 1407, 2064, 2065, 593, 3015, 903, ...
6036     6038  [1419, 920, 3088, 232, 1136, 1148, 1183, 2146,...
6037     6039  [588, 2067, 1416, 3022, 3028, 2080, 2083, 2087...
6038     6040  [573, 589, 1, 2068, 593, 2070, 1419, 2076, 903...

[6039 rows x 2 columns]

In [6]:
user_data = pd.read_csv('../Data/ml100/movieLens_users.csv', sep=',', header=0)

In [7]:
user_data

      user_id gender  age  occupation zipcode
0           1      F    1          10   48067
1           2      M   56          16   70072
2           3      M   25          15   55117
3           4      M   45           7   02460
4           5      M   25          20   55455
...       ...    ...  ...         ...     ...
6035     6036      F   25          15   32603
6036     6037      F   45           1   76006
6037     6038      F   56           1   14706
6038     6039      F   45           0   01060
6039     6040      M   25           6   11106

[6040 rows x 5 columns]

In [22]:
# ids de usuarios por genero
male_users = user_data[user_data['gender'] == 'M']['user_id'].to_list()
female_users = user_data[user_data['gender'] == 'F']['user_id'].to_list()

In [9]:
def lista_id_user_by_age(age):
    return user_data[user_data['age'] == age]['user_id'].to_list()

In [10]:
# ids de usuarios por edad
dict_age = {1:  "Under_18", 18:  "18-24", 25:  "25-34", 35:  "35-44", 
            45:  "45-49",50:  "50-55",56:  "56+"}
id_users_by_age = [lista_id_user_by_age(age) for age in sorted(dict_age.keys())]

In [21]:
id_users_by_age[1]

[18,
 21,
 22,
 25,
 34,
 38,
 39,
 41,
 46,
 47,
 49,
 52,
 57,
 63,
 64,
 68,
 70,
 73,
 77,
 84,
 85,
 92,
 101,
 113,
 122,
 126,
 131,
 135,
 136,
 138,
 143,
 145,
 147,
 152,
 162,
 163,
 165,
 166,
 176,
 181,
 182,
 186,
 189,
 191,
 192,
 197,
 199,
 200,
 202,
 203,
 213,
 214,
 217,
 224,
 229,
 239,
 242,
 246,
 248,
 249,
 257,
 260,
 268,
 271,
 272,
 273,
 274,
 295,
 297,
 298,
 301,
 302,
 305,
 306,
 310,
 311,
 313,
 321,
 336,
 337,
 342,
 351,
 352,
 355,
 357,
 363,
 365,
 370,
 371,
 372,
 378,
 392,
 394,
 395,
 400,
 401,
 403,
 404,
 407,
 409,
 419,
 423,
 426,
 428,
 429,
 430,
 431,
 436,
 438,
 453,
 457,
 459,
 462,
 464,
 465,
 473,
 480,
 483,
 489,
 491,
 495,
 496,
 500,
 510,
 524,
 528,
 531,
 540,
 541,
 542,
 555,
 561,
 569,
 572,
 578,
 582,
 585,
 589,
 592,
 601,
 605,
 608,
 619,
 620,
 621,
 626,
 636,
 640,
 652,
 662,
 665,
 666,
 671,
 676,
 686,
 694,
 695,
 698,
 699,
 701,
 709,
 714,
 715,
 716,
 718,
 720,
 736,
 738,
 742,
 746,
 747,
 761,
 763,
 764,
 770,
 772,
 774,
 777,
 778,
 781,
 784,
 785,
 787,
 789,
 803,
 807,
 813,
 814,
 817,
 818,
 821,
 828,
 832,
 842,
 845,
 851,
 855,
 860,
 869,
 878,
 881,
 882,
 890,
 894,
 896,
 920,
 936,
 941,
 947,
 961,
 967,
 978,
 990,
 994,
 995,
 1006,
 1018,
 1020,
 1027,
 1035,
 1047,
 1060,
 1068,
 1081,
 1086,
 1091,
 1092,
 1094,
 1097,
 1102,
 1106,
 1109,
 1112,
 1113,
 1114,
 1117,
 1120,
 1125,
 1130,
 1132,
 1133,
 1134,
 1137,
 1138,
 1142,
 1146,
 1152,
 1153,
 1159,
 1160,
 1174,
 1186,
 1196,
 1201,
 1211,
 1221,
 1226,
 1232,
 1234,
 1237,
 1240,
 1246,
 1254,
 1257,
 1261,
 1265,
 1272,
 1277,
 1278,
 1283,
 1302,
 1311,
 1313,
 1314,
 1318,
 1329,
 1341,
 1347,
 1356,
 1381,
 1384,
 1393,
 1399,
 1401,
 1402,
 1409,
 1413,
 1414,
 1418,
 1420,
 1426,
 1430,
 1433,
 1438,
 1442,
 1447,
 1450,
 1454,
 1460,
 1466,
 1470,
 1476,
 1483,
 1491,
 1495,
 1498,
 1502,
 1504,
 1514,
 1517,
 1519,
 1524,
 1527,
 1529,
 1532,
 1535,
 1537,
 1542,
 1550,
 1555,
 1556,
 1557,
 1558,
 1561,
 1562,
 1570,
 1578,
 1580,
 1581,
 1582,
 1596,
 1605,
 1613,
 1622,
 1626,
 1627,
 1628,
 1629,
 1638,
 1644,
 1645,
 1647,
 1649,
 1653,
 1655,
 1659,
 1663,
 1664,
 1676,
 1677,
 1678,
 1681,
 1684,
 1688,
 1697,
 1702,
 1703,
 1705,
 1710,
 1711,
 1718,
 1719,
 1720,
 1721,
 1724,
 1725,
 1728,
 1730,
 1731,
 1732,
 1733,
 1735,
 1754,
 1755,
 1764,
 1765,
 1773,
 1778,
 1779,
 1783,
 1784,
 1785,
 1787,
 1791,
 1795,
 1800,
 1802,
 1805,
 1806,
 1807,
 1808,
 1824,
 1828,
 1830,
 1831,
 1832,
 1833,
 1839,
 1841,
 1842,
 1844,
 1847,
 1850,
 1855,
 1858,
 1863,
 1865,
 1889,
 1904,
 1909,
 1911,
 1917,
 1933,
 1943,
 1944,
 1949,
 1951,
 1957,
 1962,
 1975,
 1984,
 1992,
 2000,
 2005,
 2010,
 2014,
 2015,
 2023,
 2035,
 2062,
 2073,
 2074,
 2076,
 2077,
 2078,
 2081,
 2083,
 2084,
 2085,
 2093,
 2097,
 2099,
 2106,
 2114,
 2116,
 2127,
 2134,
 2138,
 2143,
 2144,
 2145,
 2146,
 2147,
 2148,
 2150,
 2152,
 2153,
 2156,
 2157,
 2160,
 2163,
 2172,
 2184,
 2186,
 2188,
 2191,
 2207,
 2212,
 2239,
 2242,
 2250,
 2252,
 2257,
 2258,
 2270,
 2274,
 2299,
 2306,
 2325,
 2326,
 2327,
 2350,
 2379,
 2396,
 2403,
 2404,
 2446,
 2454,
 2461,
 2464,
 2480,
 2486,
 2494,
 2495,
 2522,
 2530,
 2557,
 2559,
 2562,
 2576,
 2590,
 2591,
 2595,
 2618,
 2620,
 2621,
 2630,
 2636,
 2644,
 2679,
 2682,
 2684,
 2691,
 2692,
 2694,
 2712,
 2714,
 2734,
 2744,
 2747,
 2756,
 2763,
 2771,
 2775,
 2777,
 2782,
 2789,
 2792,
 2799,
 2800,
 2821,
 2824,
 2828,
 2837,
 2838,
 2846,
 2847,
 2850,
 2854,
 2859,
 2873,
 2879,
 2880,
 2882,
 2883,
 2885,
 2886,
 2891,
 2894,
 2896,
 2898,
 2900,
 2908,
 2912,
 2919,
 2924,
 2926,
 2929,
 2931,
 2936,
 2937,
 2944,
 2948,
 2950,
 2954,
 2957,
 2960,
 2963,
 2968,
 2970,
 2973,
 2974,
 2976,
 2977,
 2983,
 2985,
 2987,
 2988,
 2992,
 2993,
 2996,
 3001,
 3003,
 3004,
 3006,
 3008,
 3016,
 3026,
 3027,
 3029,
 3031,
 3033,
 3034,
 3043,
 3048,
 3051,
 3054,
 3058,
 3062,
 3063,
 3065,
 3066,
 3069,
 3070,
 3077,
 3086,
 3101,
 3104,
 3111,
 3112,
 3114,
 3120,
 3128,
 3133,
 3134,
 3145,
 3148,
 3149,
 3152,
 3163,
 3164,
 3166,
 3172,
 3174,
 3179,
 3185,
 3192,
 3195,
 3196,
 3197,
 3199,
 3202,
 3206,
 3219,
 3225,
 3235,
 3236,
 3240,
 3244,
 3245,
 3259,
 3269,
 3270,
 3294,
 3295,
 3296,
 3297,
 3308,
 3312,
 3322,
 3327,
 3333,
 3343,
 3349,
 3350,
 3351,
 3370,
 3373,
 3378,
 3386,
 3387,
 3389,
 3391,
 3398,
 3411,
 3417,
 3418,
 3425,
 3433,
 3434,
 3439,
 3442,
 3448,
 3454,
 3459,
 3471,
 3479,
 3481,
 3484,
 3486,
 3487,
 3489,
 3495,
 3502,
 3503,
 3504,
 3506,
 3508,
 3509,
 3510,
 3512,
 3514,
 3516,
 3517,
 3518,
 3522,
 3525,
 3536,
 3540,
 3557,
 3558,
 3559,
 3569,
 3571,
 3579,
 3580,
 3581,
 3584,
 3590,
 3605,
 3610,
 3621,
 3622,
 3625,
 3630,
 3631,
 3639,
 3648,
 3653,
 3657,
 3659,
 3688,
 3690,
 3703,
 3707,
 3715,
 3716,
 3725,
 3728,
 3729,
 3733,
 3734,
 3740,
 3748,
 3750,
 3752,
 3756,
 3766,
 3777,
 3788,
 3793,
 3794,
 3795,
 3799,
 3800,
 3801,
 3802,
 3806,
 3825,
 3830,
 3831,
 3834,
 3844,
 3850,
 3857,
 3861,
 3868,
 3869,
 3871,
 3881,
 3884,
 3887,
 3890,
 3901,
 3907,
 3909,
 3911,
 3913,
 3922,
 3942,
 3951,
 3954,
 3965,
 3967,
 3971,
 3987,
 3996,
 4008,
 4009,
 4012,
 4035,
 4041,
 4047,
 4051,
 4081,
 4101,
 4103,
 4104,
 4117,
 4122,
 4144,
 4173,
 4194,
 4198,
 4217,
 4249,
 4295,
 4298,
 4300,
 4304,
 4315,
 4323,
 4337,
 4338,
 4346,
 4347,
 4349,
 4350,
 4352,
 4359,
 4366,
 4368,
 4371,
 4374,
 4378,
 4383,
 4387,
 4391,
 4392,
 4393,
 4396,
 4397,
 4398,
 4399,
 4400,
 4401,
 4402,
 4407,
 4410,
 4411,
 4412,
 4415,
 4416,
 4423,
 4427,
 4441,
 4446,
 4465,
 4475,
 4489,
 4491,
 4495,
 4507,
 4514,
 4516,
 4517,
 4523,
 4527,
 4531,
 4534,
 4535,
 4536,
 4547,
 4548,
 4550,
 4551,
 4555,
 4567,
 4579,
 4590,
 4592,
 4596,
 4611,
 4612,
 4620,
 4629,
 4631,
 4635,
 4636,
 4648,
 4660,
 4662,
 4675,
 4686,
 4689,
 4693,
 4695,
 4696,
 4697,
 4699,
 4700,
 4704,
 4705,
 4733,
 4736,
 4745,
 4747,
 4752,
 4754,
 4761,
 4791,
 4799,
 4800,
 4810,
 4812,
 4814,
 4821,
 4823,
 4828,
 4849,
 4851,
 4859,
 4864,
 4871,
 4887,
 4889,
 4910,
 4916,
 4918,
 4919,
 4922,
 4936,
 4938,
 4949,
 4958,
 4967,
 4969,
 4986,
 4998,
 5007,
 5011,
 5013,
 5030,
 5032,
 5042,
 5043,
 5050,
 5061,
 5064,
 5081,
 5084,
 5094,
 5099,
 5133,
 5137,
 5141,
 5143,
 5147,
 5151,
 5156,
 5158,
 5160,
 5167,
 5170,
 5183,
 5184,
 5187,
 5198,
 5202,
 5212,
 5213,
 5216,
 5218,
 5219,
 5225,
 5227,
 5244,
 5246,
 5254,
 5264,
 5269,
 5280,
 5282,
 5283,
 5285,
 5290,
 5305,
 5316,
 5318,
 5319,
 5320,
 5332,
 5339,
 5348,
 5350,
 5357,
 5359,
 5360,
 5365,
 5366,
 5367,
 5373,
 5377,
 5380,
 5382,
 5388,
 5394,
 5397,
 5400,
 5401,
 5417,
 5419,
 5425,
 5436,
 5444,
 5449,
 5450,
 5453,
 5455,
 5457,
 ...]

In [24]:
# Dividir en train y test
train, test= train_test_split(data, shuffle=False, train_size=0.8)

In [30]:
test

      user_id                                            item_id
4831     4833  [593, 595, 2070, 903, 908, 912, 913, 919, 928,...
4832     4834  [3794, 3798, 1, 2, 3005, 8, 1408, 2067, 590, 5...
4833     4835  [589, 1, 3006, 1407, 593, 903, 904, 908, 3044,...
4834     4836  [593, 3011, 3051, 214, 260, 2840, 290, 2857, 2...
4835     4837  [3791, 587, 1, 1407, 597, 3016, 3017, 2078, 20...
...       ...                                                ...
6034     6036  [571, 574, 2054, 589, 6, 3006, 3008, 1405, 140...
6035     6037  [589, 3006, 1407, 2064, 2065, 593, 3015, 903, ...
6036     6038  [1419, 920, 3088, 232, 1136, 1148, 1183, 2146,...
6037     6039  [588, 2067, 1416, 3022, 3028, 2080, 2083, 2087...
6038     6040  [573, 589, 1, 2068, 593, 2070, 1419, 2076, 903...

[1208 rows x 2 columns]

In [25]:
# Separar test por genero
test_M = test[test['user_id'].isin(male_users)]
test_F =  test[test['user_id'].isin(female_users)]

In [31]:
# Separar test por edad
test_users_by_age = [test[test['user_id'].isin(age_list)] for age_list in id_users_by_age]

In [32]:
# Guardar archivo
def guardar_archivo(nombre, data):
    file = open(f"../Data/ml100/{nombre}.txt", 'w+')
    for index, row in data.iterrows():
        line = str(row['user_id']), ' '.join(map(str,row['item_id'])),'\n'
        line = ' '.join(line)
        file.write(line)
    file.close()

In [33]:
# Guardar train
guardar_archivo('train', train)

In [34]:
# Guardar test, y tests por genero
guardar_archivo('test', test)
guardar_archivo('test_M', test_M)
guardar_archivo('test_F', test_F)

In [36]:
# Guardar test por edad
for x, y in (zip(sorted(dict_age.keys()), test_users_by_age)):
    guardar_archivo(f"test_{x}_age", y)