In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../Data/ml100/movieLens_ratings.csv', sep=',', header=0)
data = data.drop(columns='timestamp')

In [3]:
data = data[data['rating'] >= 3]

In [4]:
data['item_id'] = data['item_id'].apply(str)
data = data.groupby('user_id')['item_id'].apply(list).reset_index(name='item_id')

In [5]:
data

      user_id                                            item_id
0           1  [1193, 661, 914, 3408, 2355, 1197, 1287, 2804,...
1           2  [1357, 3068, 1537, 647, 2194, 648, 2268, 2628,...
2           3  [3421, 648, 1394, 3534, 104, 2735, 1210, 1431,...
3           4  [3468, 1210, 2951, 1214, 1036, 260, 2028, 480,...
4           5  [2987, 2333, 1175, 39, 2337, 1535, 1392, 1466,...
...       ...                                                ...
6034     6036  [571, 574, 2054, 589, 6, 3006, 3008, 1405, 140...
6035     6037  [589, 3006, 1407, 2064, 2065, 593, 3015, 903, ...
6036     6038  [1419, 920, 3088, 232, 1136, 1148, 1183, 2146,...
6037     6039  [588, 2067, 1416, 3022, 3028, 2080, 2083, 2087...
6038     6040  [573, 589, 1, 2068, 593, 2070, 1419, 2076, 903...

[6039 rows x 2 columns]

In [6]:
user_data = pd.read_csv('../Data/ml100/movieLens_users.csv', sep=',', header=0)

In [7]:
user_data

      user_id gender  age  occupation zipcode
0           1      F    1          10   48067
1           2      M   56          16   70072
2           3      M   25          15   55117
3           4      M   45           7   02460
4           5      M   25          20   55455
...       ...    ...  ...         ...     ...
6035     6036      F   25          15   32603
6036     6037      F   45           1   76006
6037     6038      F   56           1   14706
6038     6039      F   45           0   01060
6039     6040      M   25           6   11106

[6040 rows x 5 columns]

In [22]:
# ids de usuarios por genero
male_users = user_data[user_data['gender'] == 'M']['user_id'].to_list()
female_users = user_data[user_data['gender'] == 'F']['user_id'].to_list()

In [9]:
def lista_id_user_by_age(age):
    return user_data[user_data['age'] == age]['user_id'].to_list()

In [10]:
# ids de usuarios por edad
dict_age = {1:  "Under_18", 18:  "18-24", 25:  "25-34", 35:  "35-44", 
            45:  "45-49",50:  "50-55",56:  "56+"}
id_users_by_age = [lista_id_user_by_age(age) for age in sorted(dict_age.keys())]

In [24]:
# Dividir en train y test
train, test= train_test_split(data, shuffle=False, train_size=0.8)

In [30]:
test

      user_id                                            item_id
4831     4833  [593, 595, 2070, 903, 908, 912, 913, 919, 928,...
4832     4834  [3794, 3798, 1, 2, 3005, 8, 1408, 2067, 590, 5...
4833     4835  [589, 1, 3006, 1407, 593, 903, 904, 908, 3044,...
4834     4836  [593, 3011, 3051, 214, 260, 2840, 290, 2857, 2...
4835     4837  [3791, 587, 1, 1407, 597, 3016, 3017, 2078, 20...
...       ...                                                ...
6034     6036  [571, 574, 2054, 589, 6, 3006, 3008, 1405, 140...
6035     6037  [589, 3006, 1407, 2064, 2065, 593, 3015, 903, ...
6036     6038  [1419, 920, 3088, 232, 1136, 1148, 1183, 2146,...
6037     6039  [588, 2067, 1416, 3022, 3028, 2080, 2083, 2087...
6038     6040  [573, 589, 1, 2068, 593, 2070, 1419, 2076, 903...

[1208 rows x 2 columns]

In [25]:
# Separar test por genero
test_M = test[test['user_id'].isin(male_users)]
test_F =  test[test['user_id'].isin(female_users)]

In [31]:
# Separar test por edad
test_users_by_age = [test[test['user_id'].isin(age_list)] for age_list in id_users_by_age]

In [32]:
# Guardar archivo
def guardar_archivo(nombre, data):
    file = open(f"../Data/ml100/{nombre}.txt", 'w+')
    file.write('')
    for index, row in data.iterrows():
        line = str(row['user_id']), ' '.join(map(str,row['item_id'])),'\n'
        line = ' '.join(line)
        file.write(line)
    file.close()

In [33]:
# Guardar train
guardar_archivo('train', train)

In [34]:
# Guardar test, y tests por genero
guardar_archivo('test', test)
guardar_archivo('test_M', test_M)
guardar_archivo('test_F', test_F)

In [36]:
# Guardar test por edad
for x, y in (zip(sorted(dict_age.keys()), test_users_by_age)):
    guardar_archivo(f"test_{x}_age", y)